@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*/

button {
  user-select: none;
}

main {
  background-size: 'cover';
  background-position: 'center';
  background-repeat: 'no-repeat';
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  font-family: 'Comic Sans MS', cursive;
}

#initial-page {
  background-image: url('../assets/subtle-prism.svg');
}

.white-bg {
  background-color: #fff;
}

#user-page {
  background-image: url('../assets/base1.jpg');
}

#company-page {
  background-image: url('../assets/base2.jpg');
}

.container {
  position: relative;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* position: relative; */
  /* perspective: 1000px; */
}

.card {
  width: 250px;
  z-index: 2;
  height: 400px;
  position: absolute;
  top: 30%;
  transform: translate(-50%) rotateY(0deg);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* font-family: 'Comic Sans MS', cursive; */
  font-size: 12px;
  text-align: center;
  color: #333;
  transition: transform 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card.stacked {
  position: absolute;
  top: 30%;
  transform: translate(-50%) rotate(8deg);
  z-index: 0;
}

.card.stacked.last {
  transform: translate(-50%) rotate(-16deg);
}

.card-header {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  color: black;
}

.card-footer {
  font-family: 'Comic Sans MS', cursive;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
