@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-size: 'cover';
  background-position: 'center';
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

#initial-page {
  background-image: url('../assets/subtle-prism.svg');
}

.white-bg {
  background-color: #fff;
}

#user-page {
  background-image: url('../assets/base1.jpg');
}

#company-page {
  background-image: url('../assets/base2.jpg');
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* position: relative; */
  /* perspective: 1000px; */
}

.card {
  width: 250px;
  z-index: 2;
  height: 400px;
  position: absolute;
  top: 30%;
  transform: translate(-50%) rotateY(0deg);
  /* background: linear-gradient(90deg, snow 0px, #ddcdcd 5px); */
  /* background-image: url('https://i.pinimg.com/564x/d5/de/9a/d5de9ac241efddd2276c1c2f498b115f.jpg'); */
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* font-family: 'Comic Sans MS', cursive; */
  font-size: 12px;
  text-align: center;
  color: #333;
  transition: transform 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* .card:last-child {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
} */

.card-container:last-child {
  background-color: aqua;
}

.card.stacked {
  position: absolute;
  top: 30%;
  transform: translate(-50%) rotate(8deg);
  z-index: 0;
}

.card.stacked.last {
  transform: translate(-50%) rotate(-16deg);
}

.card-header {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  color: black;
}

.card-footer {
  font-family: 'Comic Sans MS', cursive;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
